html,body {
    margin: 0;
}
#imagem_fundo{
    background: url("fundo.jpg");
    height: 100%;
    text-align: center;
    background-size: cover;
}
#titulo{
    color: white;
    padding-top: 20%;
    font-size: 70px;
}
#subtitulo{
    color: white;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 35px;
}
#acao{
    color: white;
    border: 1px white solid;
    padding: 10px 20px 10px 20px ;
}
.icone{
    width: 200px;
}
#projeto{
    background-color: #f7f7f7f7;
    padding: 20px;
}
#poluentes{
    padding: 20px;
    background-color: white;
}
.coluna{
    float: left;
    padding: 0 5%;
    position: relative;
    width:40%
}